body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

.blog-post-card {
    background-color: white;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    margin: 100px auto;
    overflow: hidden;
}

.post-img {
    width: 100%;
    border-bottom: 4px solid darkblue;
}

.post-content {
    padding: 20px;
}

.post-title {
    color: darkblue;
    margin: 10px;
}

.post-excerpt {
    color: darkslategray;
    margin: 10px;
}

.read-more {
    color: white;
    background-color: darkblue;
    margin: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}

.read-more:hover {
    background-color: navy;
}
